body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u1 {
  position:absolute;
  left:2px;
  top:369px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:91px;
  width:320px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:107px;
  width:38px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:94px;
  top:162px;
  width:64px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:222px;
  top:161px;
  width:64px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:34px;
  top:272px;
  width:300px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:306px;
  top:106px;
  width:33px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:407px;
  top:100px;
  width:300px;
  height:192px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:407px;
  top:300px;
  width:300px;
  height:96px;
  color:#FF6600;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
