<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.payeco.android.plugin"
	android:versionCode="5"
	android:versionName="2.1.6" >
	<uses-sdk
		android:minSdkVersion="11"/>
	
	<!-- 下面的权限是必须的 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	
	<!-- 照相的权限 -->
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	
	<!-- 读取短信验证码	可选 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	
	<!-- 录像需要的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.RECORD_VIDEO"/>
	
	<application>
		
		<!-- 插件入口界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
			android:launchMode="singleTask" 
			android:screenOrientation="portrait" 
			/>
		
		<!-- 插件拍照界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoCameraActivity"
			android:screenOrientation="portrait" 
			/>
		
		<!-- 插件录像界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoVedioActivity"
			android:screenOrientation="landscape"
			android:process="com.payeco.android.plugin.vedio"
			/>
		
		<!--百度插件部分  -->
		<service
			android:name="com.baidu.location.f"
			android:enabled="true"
			android:process=":remote" >
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.2" >
				</action>
			</intent-filter>
		</service>
		
		<!-- meta-data需要写在application中 -->
		<meta-data
			android:name="com.baidu.lbsapi.API_KEY"
			android:value="DhNxS47YIr3CNdocGoAcy1ts" />
		
	</application>

</manifest>
