<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - WanJiCard WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WanJiCard WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WanJiCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WanJiCard_InHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED152ED1B8DA5140035C751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED153061B8DA5140035C751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED1531A1B8E9EEF0035C751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED153321B8E9EEF0035C751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED153531B8E9F160035C751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
