body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:713px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u1 {
  position:absolute;
  left:2px;
  top:369px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:142px;
  width:320px;
  height:518px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:518px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:-55px;
  width:320px;
  height:744px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:744px;
}
#u4 {
  position:absolute;
  left:2px;
  top:364px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:249px;
  width:320px;
  height:402px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:0px;
  top:661px;
  width:320px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:3px;
  top:10px;
  width:314px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:24px;
  top:92px;
  width:320px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:413px;
  top:46px;
  width:300px;
  height:448px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:448px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:413px;
  top:520px;
  width:300px;
  height:176px;
  color:#FF6600;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:305px;
  top:114px;
  width:27px;
  height:16px;
  color:#3399FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:24px;
  top:92px;
  width:320px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:32px;
  top:104px;
  width:29px;
  height:29px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:91px;
  top:102px;
  width:193px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:98px;
  top:109px;
  width:19px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:120px;
  top:110px;
  width:92px;
  height:16px;
  color:#BCBCBC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:291px;
  top:107px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:321px;
  top:106px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#F2F2F2;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:24px;
  top:93px;
  visibility:hidden;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u32 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:19px;
  width:39px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:287px;
  top:97px;
  width:50px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:32px;
  top:92px;
  width:38px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:98px;
  top:92px;
  width:183px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
