body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:204px;
  top:219px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:240px;
  top:363px;
  width:27px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u5 {
  position:absolute;
  left:2px;
  top:369px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:91px;
  width:320px;
  height:566px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:566px;
}
#u7 {
  position:absolute;
  left:2px;
  top:275px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:90px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:24px;
  top:91px;
  visibility:hidden;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u12 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:50px;
  top:325px;
  width:92px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:170px;
  top:325px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:407px;
  top:100px;
  width:300px;
  height:96px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:24px;
  top:100px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:28px;
  top:354px;
  width:304px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
