<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<!--设置编码为中文的UTF-8开始-->
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
