body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:1456px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:1573px;
  width:320px;
  height:566px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:566px;
}
#u3 {
  position:absolute;
  left:2px;
  top:275px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:136px;
  top:1573px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:754px;
}
#u7 {
  position:absolute;
  left:2px;
  top:369px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:90px;
  width:320px;
  height:566px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:566px;
}
#u9 {
  position:absolute;
  left:2px;
  top:275px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:105px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:24px;
  top:165px;
  width:320px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:24px;
  top:243px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:24px;
  top:282px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:24px;
  top:321px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:24px;
  top:361px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:24px;
  top:492px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:24px;
  top:541px;
  width:320px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:24px;
  top:401px;
  width:320px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
